<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
<!-- 引入重置样式 -->
<link rel="stylesheet" href="styles/reset.css">
<!-- 引入elementUI -->
<link rel="stylesheet" href="styles/elementUI.css">
<!-- 引入首页的样式 -->
<link rel="stylesheet" href="styles/index.css">


</head>
<body>
    
<div id="app">

    <el-main>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>修改账号密码</span>
            </div>
            <div class="text item">
                <!-- 账号添加的页面 -->
                <el-form :label-position="labelPosition" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px"
                    class="demo-ruleForm">
                    <el-form-item label="原密码" prop="oldPwd">
                        <el-input v-model="ruleForm2.oldPwd"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="pass">
                        <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="checkPass">
                        <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">修改  </el-button>
                      
                    </el-form-item> 
                </el-form>
            </div>
        </el-card>
    </el-main>
</div>
<!-- 引入jquery -->
<script src="./javascripts/jquery.min.js"></script>

<!-- 引入vue -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI -->
<script src="./javascripts/elementUI.js"></script>

<script>
    //创建vue对象
    new Vue({
        //挂载视图
        el: "#app",
        data() {
            //自定义验证方法，判断密码和确认密码是否相等
            var validatePass2 = (rule, value, callback) => {
                //如果密码和确认密码不相同，就抛出错误
                if (value !== this.ruleForm2.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                labelPosition: 'top',
                ruleForm2: {
                    pass: '',      //密码
                    checkPass: '', //确认新密码
                    oldPwd: '',  //原密码
                    region: '' //用户组
                },
                rules2: {
                     oldPwd: [
                        { required: true, message: "原密码错误", trigger: 'blur' },
                        { min: 5, max: 18, message: "原密码应该在5~18位之间", trigger: "blur" }
                    ],
                    pass: [
                        { required: true, message: "密码必须填写", trigger: 'blur' },
                        { min: 6, max: 18, message: "密码长度应该在6~18位之间", trigger: "blur" }
                    ],
                    checkPass: [
                        { required: true, message: "请再次输入密码", trigger: 'blur' },
                        { min: 6, max: 18, message: "确认密码长度在6~18位之间", trigger: "blur" },
                        { validator: validatePass2, trigger: 'blur' }
                    ],

                    region: [
                        { required: true, message: '请选择用户组', trigger: 'change' }
                    ]
                }


            };
        },
        methods: {
            //提交表单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('成功');
                        //1. 表单验证通过就发起ajax请求到后端路由
                        //获取表单数据
                        console.log("前端的数据对象:", this.ruleForm2);
                        //语法： $.post(url,dataObj,success(data),"json")
                        $.post("/users/add", this.ruleForm2, function (result) {
                            //5. 前端根据返回的结果处理业务逻辑
                            console.log(result);
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //重置表单
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    });





</script>
</body>
</html>