body{
    background-color: rgb(51, 4, 4);
}

/* 卡片组件的样式 */
.text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 480px;
  }

  /* 登录框的居中*/
  .el-card{
      height: 300px;

      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin:  auto;
  }

  /* 标题 */
  .el-card__header{
      padding: 5px 20px;
  }

  .el-card__header h1{
      font-size: 20px;
  }

  .el-card__header h1 span{
    color: rgb(196, 36, 188);
  }